@import "../variables";

.btn {
    position: relative;
    padding: 0.2em 0em;
    margin: 0 0.2em;
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    background: $color-back;
    border-radius: 12px;
    width: 50px;
    box-sizing: border-box;

    & > * {
        position: relative;
        z-index: 1;
    }

    svg {
        max-height: 30px;
    }

    span {
        font-family: 'Permanent Marker', cursive;
        display: block;
        font-size: 0.8em;
        margin-top: -0.5em;
    }

    &::after {
        content: '';
        position: absolute;
        border-radius: 10px;
        z-index: 0;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
    }

    &.brown {
        color: $color-brown;
        border-color: $color-brown;
        &:hover, &.active {
            &::after {
                background: $color-brown !important;
            }
        }
        svg { fill: $color-brown; }
    }

    &.red {
        color: $color-contrast;
        border-color: $color-contrast;
        &:hover, &.active {
            &::after {
                background: $color-contrast !important;
            }
        }
        svg { fill: $color-contrast; }
    }

    &.salmon {
        color: $color-salmon;
        border-color: $color-salmon;
        &:hover, &.active {
            &::after {
                background: $color-salmon !important;
            }
        }
        svg { fill: $color-salmon; }
    }

    &.dark-red {
        color: $color-dark-red;
        border-color: $color-dark-red;
        &:hover, &.active {
            &::after {
                background: $color-dark-red !important;
            }
        }
        svg { fill: $color-dark-red; }
    }

    &.orange {
        color: $color-orange;
        border-color: $color-orange;
        &:hover, &.active {
            &::after {
                background: $color-orange !important;
            }
        }
        svg { fill: $color-orange; }
    }

    &.grey {
        color: $color-grey;
        border-color: $color-grey;
        &:hover, &.active {
            &::after {
                background: $color-grey !important;
            }
        }
        svg { fill: $color-grey; }
    }

    &:hover, &.active {
        color: $color-back;
        svg {
            fill: $color-back;
        }
    }
}
