// USED
$color-brown: #433224;
$color-contrast: #e13925;

$color-back:#f5e2a9;
$color-brown-2: #4f4230;
$color-grey: #75685f;
$color-off:#FAFAF5;


// Test 70s
$color-dark-red: #771200;
$color-salmon: #af5b4b;
$color-orange: #e2862f;
// Walkman color
$easing: cubic-bezier(.25,.8,.25,1);


$color-yellow-nav: darken(#fbe9c3, 5%);
$color-maroon-nav: #501d0c;
